.game-status {
  font-size: 1.5rem;
  text-align: center;
}

.game-status>div{
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.red {
  color: #f40;
}

.black {
  color: #000;
}

.win {
  border: 2px solid; /* 这里不设置颜色表现出来的是字体的颜色 */
  border-radius: 5px;;
}

.equal {
  color: lightgray;
}