
.chess {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chess .chess-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chess .red {
  background: radial-gradient(#fff, red);
}

.chess .black {
  background: radial-gradient(#fff, black);
}